@page "{cid?}"
@model AddModel

@{
	
}

<form method="post">
	<div>
		<h1>Expenses - Add</h1>
	</div>
	<div class="form-group">
		<label asp-for="addExpense.ExpenseDate"></label>
		<input type="date" class="form-control" id="txtExpenseDate" style="width:15%;" asp-for="addExpense.ExpenseDate" />
		<span asp-validation-for="addExpense.ExpenseDate"></span>
	</div>
	<div class="form-group">
		<label asp-for="addExpense.ExpenseName"></label>
		<input type="text" class="form-control" style="width:15%;" asp-for="addExpense.ExpenseName" />
		&nbsp;
		<span asp-validation-for="addExpense.ExpenseName"></span>
	</div>
	<div class="form-group">
		<label>Select a customer</label>
		<select asp-for="addExpense.CustomerId" asp-items="Model.customers" onchange="reloadDDL();"></select>
		<span asp-validation-for="addExpense.CustomerId"></span>
	</div>
	<div class="form-group">
	<label>Select a project</label>
	<select asp-for="addExpense.ProjectId" asp-items="Model.projects"></select>
	<span asp-validation-for="addExpense.ProjectId"></span>
</div>
	<div class="form-group">
		<label asp-for="addExpense.ExpenseAmount"></label>
		<input type="number" class="form-control" style="width:15%;" asp-for="addExpense.ExpenseAmount" />
		<span asp-validation-for="addExpense.ExpenseAmount"></span>
	</div>
	<div class="form-group">
		<label asp-for="addExpense.ExpenseDescription"></label>
		<textarea class="form-control" style="width:36%;" asp-for="addExpense.ExpenseDescription"></textarea>
	</div>




<div>

<input type="submit" class="btn btn-success" value="Save" />

&nbsp;
<input type="submit" class="btn btn-primary" value="Apply" asp-route-isapply="1"/>
&nbsp;
<button class="btn btn-default" asp-action="Index">Cancel</button>
</form>

<script type="text/javascript">
	function reloadDDL(){
		var cid = $("#addExpense_CustomerId").find(":selected").val();
		location.pathname = "/Add/" + cid;
	}
</script>